
<div class="ui middle aligned center aligned grid">
  <div style="max-width:80vw">  
    <h1><%= @user.username%>'s Groups</h1>
    <div class="ui green segment">
      <% if !@user.groups.empty? %>
        <div class="ui relaxed divided list">
          <% @user.groups.each do |group| %>
            <div class="item">
              <i class="large green users middle aligned icon"></i>
                <div class="content">
                  <%= link_to group.name, group_path(group), class: "description" %>
                </div>
            </div>
          <% end %>
        <% else %>
          <h3><%= @user.username %> does not have any groups to display</h3>
        <% end %>
      </div>
      <% if @user == current_user %>
        <%= button_to "Create New Group", new_group_path, method: :get, class: "ui green fluid button" %>
      <% end %>
    </div>
  </div>
</div>





